body{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

    /*header*/
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    section{
        flex-grow: 1;
    }
    section.logo{
        font-family: 'Tilt Warp';
        font-size: 18px;
        flex-grow: 8;
    }
    img{
        width: 20px;
        height: 20px;
        border: 2px solid white;
        border-radius: 50%;
    }
    /*navigation bar*/
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 0;
    }
    /*whats on your mind?*/
    section.posting{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    section.story-pictures{
        display: flex;
        justify-content: space-evenly;
    }
    section img.story{
        width: 80px;
        height: 100px;
        border-radius: 15px;
    }
    /*main post*/
    article{
        display: flex;
        flex-direction: column;
    }
    p.poster{
        font-family: Arial, Helvetica, sans-serif;
        flex-grow: 3;
    }
    article section.post-header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    article section.post-footer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
    aside{
        display: none;
    }

@media only screen and (min-width: 376px) and (max-width: 1440px) {

    ul{
        justify-content: center;
    }
    nav ul>i{
        padding-left: 30px;        
        padding-right: 30px;
    }
    section.story-pictures{
        width: 100%;
        justify-content: center;
        gap: 15px;
    }
    article{
        justify-content: center;
    }
    article section.post-header{
        gap: 50px;
    }
    p.poster{
        justify-content: center;
        flex-grow: 0;
    }
    p.post-content{
        display: flex;
        justify-content: center;
    }
    article section.post-footer{
        justify-content: center;
        gap: 30px;
    }
    .responsive{
        display: flex;
        justify-content: space-between;
    }
    aside{
        display: flex;
    }
    aside.contacts{
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    aside section>ul{
        display: flex;
        flex-direction: column;
    }
    aside section>ul>li{
        display: flex;
        align-items: center;

    }
    .lol{
        background-color: rebeccapurple;
    }
}
